<launch>
    <node name="microphone" pkg="accl" type="microphone.py" output="screen">
    </node>
    <node name="egg_button" pkg="accl" type="egg_button.py" output="screen">
    </node>
    <node name="gy801" pkg="accl" type="gy801.py" output="screen">
    </node>
    <node name="bluetooth" pkg="accl" type="bluetooth.py" output="screen">
    </node>
    <node name="speaker" pkg="accl" type="speaker.py" output="screen">
    </node>
</launch>
